<div class="page-header">
  <h3 class="page-title">All sleeves</h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="javascript:;">Basic Data</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">All sleeves</li>
    </ol>
  </nav>
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 text-right mb-3">
          <button
            type="button"
            class="btn btn-social-icon-text btn-facebook"
            (click)="AddNewSleeve(addnewsleeve)"
          >
            <i class="mdi mdi-account-plus"></i>Add sleeve
          </button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Sleeve title</th>
              <th>Sleeve description</th>
              <th>Sleeve image</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sleeve of AllSleeves">
              <td class="py-1">
                {{ sleeve.id }}
              </td>
              <td>{{ sleeve.title }}</td>
              <td>{{ sleeve.description }}</td>
              <td>
                <div *ngIf="sleeve.image == null">
                  <img src="../../../assets/images/faces/face1.jpg" />
                </div>
                <div *ngIf="sleeve.image != null">
                  <img [src]="image_url + sleeve.image" />
                </div>
              </td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger btn-rounded btn-icon"
                  (click)="DeleteSelected(deletecontent, sleeve)"
                >
                  <i class="mdi mdi-delete"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-warning btn-rounded btn-icon"
                  (click)="UpdateSelected(updatecontent, sleeve)"
                >
                  <i class="mdi mdi-pen"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- here is the modal needed to add a new user as admin-->
<ng-template #addnewsleeve let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Sleeve</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="addsleeveform">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Sleeve title</label>
              <input class="form-control" formControlName="Title" type="text" />
            </div>
            <!-- validation section here-->
            <div
              *ngIf="
                addsleeveform.controls['Title'].invalid &&
                (addsleeveform.controls['Title'].dirty ||
                  addsleeveform.controls['Title'].touched)
              "
              class="text-danger"
            >
              <div
                class="required-error"
                *ngIf="addsleeveform.controls['Title'].errors.required"
              >
                Sleeve title is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Sleeve description</label>
              <input
                type="text"
                class="form-control"
                formControlName="Description"
              />
            </div>
            <!-- validation section goes here-->
            <div
              *ngIf="
                addsleeveform.controls['Description'].invalid &&
                (addsleeveform.controls['Description'].dirty ||
                  addsleeveform.controls['Description'].touched)
              "
              class="text-danger"
            >
              <div
                class="required-error"
                *ngIf="addsleeveform.controls['Description'].errors.required"
              >
                Sleeve description is required
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label>Sleeve Image</label>
              <input
                type="file"
                class="filebtn form-control mx-auto"
                accept="image/*"
                (change)="fileUploader($event)"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-success"
        [disabled]="addsleeveform.invalid"
        (click)="AddSleeve()"
      >
        Add sleeve
      </button>
      <button
        type="button"
        class="btn btn-light"
        data-dismiss="modal"
        (click)="Closemodal()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>

<!-- here is the modal needed to delete the selected -->
<ng-template #deletecontent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel-2">Delete selected</h5>
    </div>
    <div class="modal-body">
      <h5 class="text-center text-danger">
        Are you sure to delete selected item ?
      </h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="DeleteFabric()">
        Confirm delete
      </button>
      <button type="button" class="btn btn-light" (click)="Closemodal()">
        Cancel
      </button>
    </div>
  </div>
</ng-template>

<!-- here is the modal needed to update the selected user-->
<ng-template #updatecontent let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">update sleeve</h5>
    </div>
    <div class="modal-body">
      <form [formGroup]="updatesleeveform">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Sleeve title</label>
              <input class="form-control" formControlName="Title" type="text" />
            </div>
            <!-- validation section here-->
            <div
              *ngIf="
                updatesleeveform.controls['Title'].invalid &&
                (updatesleeveform.controls['Title'].dirty ||
                  updatesleeveform.controls['Title'].touched)
              "
              class="text-danger"
            >
              <div
                class="required-error"
                *ngIf="updatesleeveform.controls['Title'].errors.required"
              >
                Sleeve title is required
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Sleeve description</label>
              <input
                type="text"
                class="form-control"
                formControlName="Description"
              />
            </div>
            <!-- validation section goes here-->
            <div
              *ngIf="
                updatesleeveform.controls['Description'].invalid &&
                (updatesleeveform.controls['Description'].dirty ||
                  updatesleeveform.controls['Description'].touched)
              "
              class="text-danger"
            >
              <div
                class="required-error"
                *ngIf="updatesleeveform.controls['Description'].errors.required"
              >
                Sleeve description is required
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" *ngIf="FabricImg != null">
            <p class="text-center mb-2 fw-bold">Uploaded Fabric Image</p>
            <img class="uploaded-catImg" [src]="FabricImg" />
          </div>

          <div class="col-md-12" *ngIf="FabricImg == null">
            <p class="text-center text-danger fw-bold">
              {{ FabricImgError }}
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="UpdateSleeve()">
        Update sleeve
      </button>
      <button
        type="button"
        class="btn btn-light"
        data-dismiss="modal"
        (click)="Closemodal()"
      >
        Cancel
      </button>
    </div>
  </div>
</ng-template>
